namespace: olake

resources:
  - ../../base/sync/

namePrefix: cron-logistics-db-to-lake-

configMapGenerator:
  - name: streams
    files:
      - streams.json

generatorOptions:
  disableNameSuffixHash: true  